:root{
    /* Color */
    --white-color : #fff;
    --black-color : #fff;
    --blue-color : #fff;
    --red-color : #fff;
    --grey-dark-color : #fff;
    --grey-light-color : #fff;

    /* Size*/
    --side-padding: 12px;
    --avatar-size: 36px;

    /* Font Size*/
    --font-large:18px;
    --font-medium:14px;
    --font-small: 12px;
    --font-micro:10px;
}
/*
-- 사용법
color: var(--white-color);
padding: var(--side-padding);
font-size: var(--font-large);

*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family:'Malgun Gothic','맑은 고딕',돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

#view__container{
    display: grid;
    grid-template: 1fr 1fr / 70% 30%;
    grid-template-areas:
    "player list"
    "main list";
    height: 100vh;
    padding: 1rem;
    gap: 1rem;
}

#player{
    grid-area: player;
}

#player > video{
    width: 100%;
    height: 100%;
}

#main{
    grid-area: main;
}

#main .tags{
    margin-top: 1rem;
}

#main .tags > a{
    color: blue;
}

#main .title{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#main .bottom{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #777;
}

#main .bottom .metadata{
    font-size: .8rem;
    color: grey;
}

#main .bottom .metadata > span{
    margin-right: .3rem;
}

#main .bottom .btngroup > a{
    margin-left: .5rem;
}

#main .channel{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main .channel .left{
    display: flex;
    align-items: center;
}

#main .channel .left > a >  img{
    border-radius: 50%;
}

#main .info{
    margin-left: .5rem;
    font-size: .8rem;
    color: grey;
}

#main .content{
    margin-left: 2rem;
}

#list{
    grid-area: list;
}

#list li{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

}

#list .title{
    font-size: 1.2rem;
    font-weight: bold;
}

#list .cname,
#list .metadata{
    font-size: .8rem;
    color: grey;

}

