body{
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template: 100px 1fr 100px / 1fr 100px;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    height: 120vh;
}

header{
    grid-area: header;
    background-color: darkseagreen;
}

main{
    grid-area: main;
    background-color: grey;
}

aside{
    grid-area: aside;
    background-color: #F8F8F8;
}

footer{
    grid-area: footer;
    background-color: darkgoldenrod;
}

