:root{
    /* Color */
    --white-color : #fff;
    --black-color : #000;
    --blue-color : #fff;
    --red-color : #fff;
    --grey-dark-color : #fff;
    --grey-light-color : #fff;

    /* Size*/
    --side-padding: 12px;
    --avatar-size: 36px;

    /* Font Size*/
    --font-large:18px;
    --font-medium:14px;
    --font-small: 12px;
    --font-micro:10px;
}
/*
-- 사용법
color: var(--white-color);
padding: var(--side-padding);
font-size: var(--font-large);

*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family:'Malgun Gothic','맑은 고딕',돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif;
}

a{
    text-decoration: none;
    color: var(--black-color);
}



#main{
    display: grid;
    grid-template: 1fr 1fr / 70% 30%;
    grid-template-areas:
    "video list"
    "info list"
    ;
    height: 100vh;
    padding: 1rem;
    gap: .5rem;
}

#video{
    grid-area: video;
    background-color: black;
}

#video .player__video{
    width: 100%;
    height: 100%;
    max-width: 1024px;
}

#info{
    grid-area: info;
}

#tags{
    display: flex;
    margin-top: 1rem;
}
#tags > li{
    margin-right: .5rem;
}

#title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .5rem;
}

#bottomLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5rem;
    border-bottom: 2px solid #777777;
}

#metaData{
    font-size: var(--font-medium);
    color: #777;
    display: flex;
}

#btnGroup{
    font-size: var(--font-medium);
}

#channelLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

#channelLine__left{
    display: flex;
    align-items: center;
}

#channelLine__left > .channel_info{
    margin-left: .5rem;
    font-size: var(--font-medium);
    color: #777777;

}

#channelLine__left > a > img{
    border-radius: 50%;
}

#contentLine{
    margin-top: .5rem;
}


#list{
    grid-area: list;
}

#list > li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#list > li > .list__info{
    margin-left: .5rem;
}

#list > li > .list__info > .info__title{
    font-size: 1.2rem;
    font-weight: bold;
}

#list > li > .list__info > .info__channelName,
#list > li > .list__info > .info__metadata
{
    font-size: var(--font-medium);
    color: #777777;
}
